@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter - Variable Font.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Inter";
}